.popup__container {
  box-sizing: border-box;
  display: none;
  position: relative;
  align-items: flex-end;
  top: 17%;
  width: 470px;
  height: 370px;
  margin: 0 auto;
}

@media screen and (max-width: 680px) {
  .popup__container {
    width: 282px;
    top: 12%;
  }
}