.profile__button-popup-creat {
  box-sizing: border-box;
  background-image: url(../../../image/Pencel.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-color: #000;
  margin: 0 0 0 18px;
  padding: 0;
  transition: .6s;
  }

 .profile__button-popup-creat:hover {
  opacity: .6;
 }

  @media screen and (max-width: 680px) {
    .profile__button-popup-creat {
      width: 18px;
      height: 18px;
      margin:  0 0 0 10px;
    }
  }