.profile__button-creat {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-color: #000;
  grid-area: button;
  margin-left: 18px;
  }

  @media screen and (max-width: 680px) {
    .profile__button-creat {
      width: 18px;
      height: 18px;
      margin:  0 0 0 10px;
    }
  }