.profile__button-creat {
  box-sizing: border-box;
  background-image: url(../../../image/Pencel.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-color: #000;
  margin-left: 18px;
  }

  @media screen and (max-width: 680px) {
    .profile__button-creat {
      width: 18px;
      height: 18px;
      margin:  0 0 0 10px;
    }
  }