.profile__button-add {
  box-sizing: border-box;
  background-image: url(../../../image/button_add.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: #000;
  margin-left: auto;
  transition: opacity .5s;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1040px) {
  .profile__button-add {
    margin: 36px 0 0;
    width: 100%;
    height: 50px;
  }
}

@media screen and (max-width: 680px) {
  .profile__button-add {
    width: 282px;
    height: 50px;
  }
}