.content__element {
  padding: 0 200px;
  width: 100%;
}

@media screen and (max-width: 984px) {
  .content__element {
    padding: 0 100px;
  }
}

@media screen and (max-width: 568px) {
  .content__element {
    padding: 0 19px;
  }
}